body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;

}

#first {
    background-image: url(donation2.jpg);
    background-size: cover;
    background-position: center;
    height: 1000px;

}

.div1 {
    text-align: center;
    padding-top: 181px;
    background-color: rgba(65, 65, 65, 0.575);
    text-underline-offset: 1px;

}

.h1up {
    font-size: 65px;
    font-family: sans-serif;
    color: rgb(255, 125, 3);

}


.h2up {
    width: 50px;
    color: rgb(252, 252, 252);
    padding-left: 540px;
    font-size: 19px;
    /* display: inline-block; */
}

.Donatenow {
    text-align: center;
    background-color: rgba(255, 34, 34, 0.842);
    display: inline-block;
    /* font-size: 17px; */
    border-radius: 17px;
    margin-left: 866px;
    padding: 5px 9px;





}

.Donatenow1 {
    text-align: center;
    background-color: rgba(255, 34, 34, 0.842);
    display: inline-block;
    /* font-size: 17px; */
    border-radius: 17px;
    margin-left: -8x;
    padding: 5px 9px;





}


#second {}

.h1mid {
    text-align: center;
    font-size: 36px;


}

.h2mid {

    color: rgb(0, 0, 0);

    font-size: 16px;
    line-height: 1.2;
    width: 25px;
    height: 50px;
    text-align: center;


}

.money1 {
    width: 50%;
}

.money2 {
    width: 50%;
    left: 25%;
}

.moneyh2a {
    padding: 20px 40px;
    background-color: rgba(180, 171, 171, 0.37);
    display: inline-block;
    margin-left: 34%;
}

.moneyh2b {
    padding: 20px 40px;
    background-color: rgba(255, 46, 46, 0.411);
    border: 2px solid red;
    display: inline-block;


}


.moneyh2c {
    padding: 20px 40px;
    background-color: rgba(180, 171, 171, 0.37);
    display: inline-block;
}

.moneyh2d {
    padding: 20px 40px;
    background-color: rgba(180, 171, 171, 0.37);
    display: inline-block;
}

h4 {
    text-align: center;
    color: rgba(14, 13, 13, 0.562);
}

#third {}

.donh1 {
    text-align: center;
    font-size: 50px;
}

.aigenh3 {}

.div4 {
    display: inline-block;
    background-color: rgba(230, 207, 179, 0.479);
    width: 300px;
    height: 300px;
    text-align: start;
    margin-left: px;
    border-radius: 10px;
    padding: 5px;
}

.div2 {
    display: inline-block;
    background-color: rgba(0, 255, 255, 0.425);
    text-align: start;
    width: 300px;
    height: 300px;
    margin-left: 50px;
    border-radius: 10px;
    padding: 5px;

}

.div3 {
    display: inline-block;
    background-color: rgba(220, 20, 60, 0.322);
    width: 300px;
    height: 300px;
    text-align: start;
    margin-left: 50px;
    border-radius: 10px;
    padding: 5px;
}

img {
    height: 80px;
}

.container {
    margin-left: 400px;
}

/* #forth {
    width: 100%;
} */

.lasr1 {
    width: 50%;


}

.lastpic {
    width: 50%;
}